.del_kart svg {
  background-color: red;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.kart {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

button {
  margin-right: 20px !important;
  min-width: 120px !important;
  text-align: center !important;
}

.changePrice button {
  width: 50px !important;
  min-width: 50px !important;
  margin: 0 !important;
}

.changePrice {
  min-width: 120px;
  display: flex;
  gap: 20px;
}